.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}
#accountButton1
{
	background-color:blue;
	
}

#accountButton2
{
	margin-top:20px;
	background-color:black;	
}

#accountButton3
{
	
	background-color:#00FFFF;	
}

#account-font
{
	font-size:20px;
}

#fpassword
{
	font-color:sky blue;
	margin-top:20px;
	 
}

#email
{
	 margin-top:20px;
}




