body {
    background-color: lightblue;

}
.block {
	background-color: white;
	
	margin: 0 auto;
	
	 float: none;
}
#accountButton
{
	
	margin-bottom:20px;
	background-color:green;
	margin-top:20px;
	
}

#last-text
{
	 font-color:black;
     font-size:15px;
	
}

#accountid
{
	
	margin-top:30px;
}

.col-centered {
 float: none;
    margin: 0 auto;
}


#last-text
{
	 margin-bottom:30px;
}
